/* 詳細ページ */
.news-detail {
  margin: 2rem 0;
}

.news-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.news-meta {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;

  display: flex;
  gap: 16px;
}

.news-content img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  margin: 1rem 0;
}

.news-content h2 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border-left: 4px solid #003366;
  padding-left: .5rem;
}